* {
    box-sizing: border-box;

    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
body {
    font-family: sans-serif;
    background-color: #f5f5f5;
}

/** header */

.header {
    display: block;
    background-color: #0050b3;
    padding: 6px;
    /* margin-bottom: 18px; */
}
.header-block {
    max-width: 1200px;
    display: flex;
    margin: auto;
    padding-left: 4px;
    padding-right: 4px;
    align-items: center;
    justify-content: space-between;
}

.search-input {
    font-size: 14px;
    line-height: 22px;
    padding: 5px 30px 5px 12px;
    /* width: 100%; */
    /* max-width: 336px; */
    /* flex-shrink: 0; */
    width: 336px;
    background-color: #fff;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    background-image: url('../img/searh-icon.svg');
    background-repeat: no-repeat;
    background-position: right 12px center;

}

.user {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header .user-avatar {
    margin-left: 10px;
    margin-right: 8px;
}
.user-name {
    color: #fff;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
}

.navigation {
    display: flex;
    align-items: center;
}
.navigation-panel {
    display: flex;
    /* margin-left: 12px; */
    margin-right: 14px;
}
.navigation-link {
    display: flex;
    align-items: center;
    color: #ffffff;
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    margin-left: 12px;
}
.navigation-link::before {
    content: "";
    width: 1px;
    height: 16px;
    background-color: #003A8C;
    margin-right: 12px;
}
.navigation-link:last-child::after {
    content: "";
    width: 1px;
    height: 16px;
    background-color: #003A8C;
    margin-left: 12px;
}
.icons-panel {
    display: flex;
    align-items: center;
}
.icon-link {
    display: flex;
    align-items: center;
    margin-right: 17px;
}
.icon-info {
    margin-right: 0;
}
.icon-bell::after {
    display: flex;
    content: "";
    width: 1px;
    height: 16px;
    background-color: #003A8C;
    margin-left: 16px;
    margin-right: 0px;
}
.bedge {
    text-decoration: none;
    margin: 0px 0px 14px -12px;
    border: 2px solid white;
    border-radius: 50%;
    padding: 0px 4px;
    font-size: 13px;
    color: #fff;
    background-color: red;
}
.icon-dropdown {
    /* margin: 0; */
    margin-left: 4px;
    margin-top: 4px;
    margin-bottom: 0px;
}
.header-icon {
    fill: #002766;
}
.header-icon:hover {
    fill: #fff;
}
/* header */


/* container */
.container {
    max-width: 1200px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;    
}

.menu-sidebar {
    margin-top: 18px;
    max-width: 192px;
}
.menu-sidebar .user {
    /* margin-bottom: 12px; */
    padding-left: 10px;
}
.menu-sidebar .user-avatar {
    width: 24px;
    height: 24px;
    margin-right: 8px;
}
.menu-sidebar .user-name {
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: #262626;
}


.nav-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 12px;
    margin-bottom: 12px;
}
a.nav-link {
    padding: 4px 8px;
    display: flex;
    align-items: center;
    border-radius: 4px;
    text-decoration: none;
    color: #595959;
    font-size: 14px;
    line-height: 22px;
}
a.nav-link:hover,
a.nav-link.active {
    font-weight: 600;
    color: #262626;
    background-color: #ffffff;
}
a.nav-link:hover::after {
    content: "...";
    /* text-align: right; */
}
a .nav-text {
    margin-left: 8px;
}

.nav-title {
    font-size: 12px;
    line-height: 20px;
    color: #262626;
    margin-left: 10px;
}

.see-more-dropdown {
    margin-left: 4px;
}
.see-more-text {
    margin-left: 12px;
    font-size: 14px;
    line-height: 22px;
    color: #1890FF;    
}


